// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2021 Amotus Solution Inc.
 * Author: Marc Ferland <ferlandm@amotus.ca>
*/

/ {
	usdhc1_pwrseq: usdhc1-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_snvs_brcm_wifi>;
		reset-gpios = <&gpio5 6 GPIO_ACTIVE_LOW>;
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_snvs_brcm_bt>;
		shutdown-gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1 &pinctrl_brcm_lpo>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz &pinctrl_brcm_lpo>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz &pinctrl_brcm_lpo>;
	no-1-8-v;
	non-removable;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	/* CYW4343W */
	brcmf: wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
	};
};

&iomuxc {
	pinctrl_uart2: uart2grp {
		fsl,pins = <
		MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
		MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
		MX6UL_PAD_UART2_CTS_B__UART2_DCE_CTS	0x1b0b1
		MX6UL_PAD_UART2_RTS_B__UART2_DCE_RTS	0x1b0b1
		>;
	};
};
